
#item
{
    border-style: unset;
    height: 500px;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;    
}

#gamePicture
{
    height: 300px;
    width: 300px;
}

#details
{
    height: 700px;
    border-style: unset;
    background-color: rgb(117, 117, 117);
}

#brief
{
    width: 350px;
    height: 470px;
    background-color: rgb(19, 19, 19);
    margin-left: 30px;
    border-style: solid;
    border-color: rgb(73, 73, 73);
    border-width: 1px;
}

#briefContent
{
    padding-left: 15px;
    border-style: unset;
}

#itemControl
{
    width: 300px;
    height: 470px;    
    background-color: rgb(139, 139, 139);
    padding-top: 15px;
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#itemControlContent
{
    border: unset;
    padding-left: 15px;
    padding-right: 15px;
}

#stockData
{
    height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#buyItem
{
    margin-top: 10px;
    font-size: 24px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-width: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    background-color: rgb(0, 83, 179);
}

#buyItem:hover
{
    background-color: rgb(0, 162, 255);
}